main {
  text-align: center;
  vertical-align: center;
}


body {
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
  background-color: #F5f0e7;
}

.super-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
