.image-text-wrapper{
  background-image: url('./img/pricetag.png');
  background-size: 100% 100%;
}

.subtitle-wrapper{
  text-align: center;
  width: 311px;
  font-size: 1.2rem;
  margin-top: 10%
}

.total-shop2-break{
  border-bottom: 2px dashed #000;
}

.total-wrapper{
  padding:20px;
}

.image_wrapper{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
}

#bold-total{
  font-weight: bold;
  font-size: 2.5rem;
}

