
.main-subtitile-shop4{
  max-width: 310px;
  font-size: 0.9rem;
  background-image: url('./img/receipt.png');
  padding-left:20px;
}

.title-wrapper-shop4{
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
}

td{
  padding: 0;
  margin:0;
}

td.item, td.des, td.amount {
  border-bottom: 2px dashed #000;
  border-top: 2px dashed #000;
}

td.discount, td.blank, td.payment{
  border-top: 2px dashed #000;
}

td.item, td.amount, td.tableitem{
 text-align: center;
}

.itemtext{
  font-size: 0.9rem;
}

td.des, .text1, .text2{
  padding-left: 10px;
}

.text1{
  text-align: start;
  font-size: 0.9rem;
}

.text2{
  text-align: end;
  padding-right: 20px;
  font-size: 0.9rem;
}

.table-wrapper{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 15px; 
}

.table-wrapper1{
  padding-left: 10px;
  padding-right: 15px; 
}

h2{
  font-weight: normal;
}

table{
  font-size: 0.6rem;
  width: 100%;
}

td.payment, td.total{
  text-align: end;
  padding-right: 5px;
}

td.payment, td.total{
  padding-left: 5px;
}

td.payment, td.discount {
  font-size: 1.2rem;
  font-weight: bold;
}

td.total-text, td.total{
  font-size: 1rem;
}

#legalcopy{
  font-size: 0.8rem;
  display:flex;
}
